.testimonio {
  padding: 0px 15px;
  background: url(../../images/servicios/bg_test.png) no-repeat top;
  background-size: cover;
  height: 70vh;
}
.grid-testimonio {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  padding-top: 3em;
}

.content-service-item p {
  margin: 0;
  font-size: 20px;
  font-family: "Rotunda Medium";
  text-align: center;
}
.content-service-item img {
  cursor: pointer;
}

.service {
  padding: 50px 20px;
}

.grid-service-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.header-s {
  background: url(../../images/servicios/bg-s.png) no-repeat top;
  margin: 0em 0em 0em;
  background-position: initial;
  background-size: 100% 69%;
}
.content-flor {
  text-align: center;
  position: relative;
}
.content-img-flor {
  position: absolute;
  width: 100%;
  top: -300px;
  display: none;
}

.grid-testimonio-img {
  display: grid;
  height: 100%;
  align-content: center;
}
.grid-testimonio-img p {
  font-family: "Montserrat Regular";
  font-size: 16px;
  margin-bottom: 2em;
  font-family: "Rotunda Light";
}
.grid-testimonio-img h6 {
  font-family: "Rotunda MediumItalic";
  font-size: 22px;
}
.title-test h2 {
  font-family: "Dry Brush";
  font-size: 50px;
  color: #b4b0b9;
}
.grid-tab {
  display: grid;
  justify-content: center;
  padding: 20px 20px 0;
}
.bg-modal-service {
  background: #ffffff;
  border-radius: 60px 30px 0 0;
  padding: 20px;
}
.grid-service-modal {
  background: white;
  border-radius: 0 0 90px 30px;
  padding: 30px 70px 70px;
}
.description-service-modal h2 {
  font-family: "Rotunda Regular";
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin-bottom: 1em;
  color: #6a93da;
}
.description-service-modal h6 {
  font-family: "Rotunda Light";
  font-size: 16px;
  line-height: 33px;
}
.title-beneficio h4 {
  font-family: "Rotunda Medium";
  font-size: 20px;
}
.title-beneficio {
  padding-top: 3em;
}
.link_check {
  padding-left: 1.3em;
  list-style-image: url(./../../images/flecha.PNG);
  font-size: 15px;
  color: black;
  font-family: "Rotunda Light";
  line-height: 30px;
}
.close {
  opacity: 1;
}

.nav_link_service li a {
  position: relative;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Rotunda LightItalic";
  font-size: 23px;
  padding: 0 0;
  margin-bottom: 1em;
}
.nav_link_service li a:hover {
  color: #61a2cd;
}
.nav_link_service li a::before {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url(../../images/hover2.png);
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;*/
}

.nav_link_service li a:hover::before {
  width: 100%;
}

.nav_link_service li a span {
  position: relative;
  z-index: 1;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
  border-color: transparent;
  background: url(../../images/hover2.png);
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}
.nav-tabs {
  border-bottom: transparent;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
.barra-oblicua {
  background: black;
  height: 1px;
  width: 28px;
  transform: rotate(100deg);
  display: none;
}
.nav_link_service li {
  text-align: center;
  width: 100%;
}
/************************************/

.content-team-s {
  position: relative;
  overflow: hidden;
}
.content-team-title-s img {
  cursor: pointer;
}
.content-team-s:hover .content-team-title-s {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.content-team-s .content-team-title-s {
  position: absolute;
  left: 0%;
  top: -100%;
  color: #fff;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .grid-service-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .nav_link_service li {
    text-align: initial;
    width: initial;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-position: initial;
  }
  .barra-oblicua {
    display: block;
  }
  .grid-tab {
    padding: 0 0 0;
  }
  .nav_link_service li a {
    padding: 0 30px;
    margin-bottom: 0em;
  }
  .testimonio {
    height: 82vh;
    display: grid;
  }
  .grid-testimonio-img p {
    font-size: 26px;
  }
  .title-test h2 {
    font-size: 80px;
  }
  .grid-service-item {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-s {
    background-size: contain;
  }
}
@media screen and (min-width: 1440px) {
  .content-img-flor {
    display: block;
  }
  .header-s {
    margin: 0em 0em 10em;
  }
}
