.contacto {
  background: #e1f2f0;
  padding: 50px 20px;
}
.content-contacto {
  max-width: 1100px;
  margin: auto;
  background: #fbfbfb;
  padding: 10px 10px;
  min-height: 100%;
  border-radius: 40px;
}

.title-contacto {
  font-family: "Dry Brush";
  font-size: 25px;
  color: #78a1ca;
  text-align: center;
}
.grid-contacto {
  display: grid;
  grid-template-columns: 100%;
}
/********FORMULARIO**************/
.wrapper-form {
  max-width: 550px;
  margin: 0 auto;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 40px;
}
.md-form label {
  color: #c6c6c6;
  font-family: "Rotunda Medium";
  font-size: 16px;
}
.md-form input[type="text"]:focus:not([readonly]) + label {
  color: #78a1ca;
}
.md-form input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #78a1ca;
  border-bottom: 1px solid #78a1ca;
}
.form-control {
  color: #78a1ca;
  font-family: "Rotunda Medium";
  font-size: 14px;
}

.md-form {
  margin: 0;
  padding: 0px 0px 20px;
}
.content-send {
  text-align: right;
}
.btn-send-contact {
  background: #8ec1d9;
  color: white;
  height: 50px;
  width: 100%;
  border-radius: initial;
  font-size: 16px;
  font-family: "Rotunda Medium";
  letter-spacing: 1px;
  margin: 0;
}
.btn-send-contact:hover {
  color: white;
}
.select_form {
  width: 100%;
}
.select_form select {
  height: 42px;
  padding: 10px 15px;
  line-height: 18px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  -webkit-appearance: none;
  appearance: none;
  color: #c6c6c6;
  font-family: "Rotunda Medium";
}

.select_form::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -12px;
  border-top: 8px solid #ccc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}
.select_form select:focus {
  outline: none;
}

.select_form option:disabled {
}

/***************************/
.content-img-contact {
  display: none;
  position: relative;
}
.content-piedra {
  text-align: center;
  position: relative;
}
.content-img-piedra {
  position: absolute;
  width: 100%;
  top: -280px;
  display: none;
}
.header-c {
  background: url(../../images/contacto/bg_C.png) no-repeat top;
  margin: 0em 0em 3em;
  background-position: initial;
  background-size: 100% 69%;
}
.description-contact p {
  font-size: 16px;
  font-family: "Rotunda Thin";
  color: black;
  line-height: 26px;
  text-align: justify;
}
b,
strong {
  font-weight: bold;
}
.des-contacto {
  display: grid;
  height: 100%;
  align-content: center;
  max-width: 100%;
  z-index: 1;
}
.des-contacto h2 {
  font-family: "Dry Brush";
  font-size: 60px;
  color: #86b9d1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content-img-contact {
    display: block;
  }
  .title-contacto {
    font-size: 50px;
  }
  .grid-contacto {
    grid-template-columns: 50% 50%;
  }
  .wrapper-form {
    padding: 25px;
  }
  .content-contacto {
    padding: 10px 20px 0px 0px;
  }
  .header-c {
    margin: 0em 0em 5em;
  }
  .description-contact p {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .header-c {
    margin: 0em 0em 5em;
  }
  .contacto {
    padding: 70px 70px;
  }
  .content-contacto {
    padding: 20px 50px 0px 0px;
  }
  .title-contacto {
    text-align: right;
    font-size: 70px;
  }
  .header-c {
    background-size: contain;
  }
  .description-contact p {
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .des-contacto {
    max-width: 560px;
    padding-bottom: 5em;
  }
  .des-contacto h2 {
    font-size: 115px;
    text-align: initial;
  }
}

@media screen and (min-width: 1440px) {
  .contacto {
    padding: 70px 150px;
  }
  .content-contacto {
    padding: 70px 90px 0px 0px;
  }
  .content-img-piedra {
    display: block;
  }
}

@media screen and (min-width: 1650px) {
  .contacto {
    padding: 100px 300px;
  }

  .content-contacto {
    padding: 100px 80px 0px 0px;
  }
  .title-contacto {
    font-size: 85px;
    text-align: right;
  }
  .content-img-contact {
    display: block;
  }
  .grid-contacto {
    grid-template-columns: 40% 60%;
  }
  .wrapper-form {
    padding: 30px;
  }
  .grid-input-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
  }
  .btn-send-contact {
    width: 140px;
    border-radius: 41px 10px 10px 10px;
  }
}
