.content-rama {
  text-align: center;
  position: relative;
  display: none;
}
.content-img-rama {
  position: absolute;
  width: 100%;
  top: -380px;
}
.description-galery {
  display: grid;
  height: 100%;
  align-content: baseline;
  max-width: 100%;
  z-index: 1;
}
.description-galery h2 {
  font-family: "Dry Brush";
  font-size: 60px;
  color: #789fc8;
  text-align: center;
}
.description-galery p {
  font-size: 16px;
  font-family: "Rotunda Regular";
  color: black;
  line-height: 26px;
  text-align: justify;
}
.img-galeria img {
  cursor: zoom-in;
}

.grid_galeria {
  display: grid;
  grid-template-columns: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
  grid-row-gap: 0em;
}
.grid_galeria p {
  font-family: "Rotunda Regular";
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 20px 0px;
}

.img_galaria_modal {
  background: #e6edf3;
  border-radius: 0 0 30px 30px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .description-galery {
    align-content: center;
  }
  .description-galery p {
    font-size: 16px;
    line-height: 26px;
  }
  .grid_galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    grid-row-gap: 0em;
  }
}

@media screen and (min-width: 1200px) {
  .description-galery {
    max-width: 560px;
  }
  .description-galery h2 {
    font-size: 115px;
    text-align: initial;
  }
  .description-galery p {
    font-size: 22px;
    line-height: 36px;
  }
  .img-home img {
    padding: 0 0 0 0;
  }
  .content-rama {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1640px) {
}
